body {
  font-size: 12px !important;
  font-family: "DejaVu Serif" !important;
  margin-top: 120px !important;
}
h3 {
  font-size: 14px !important;
  margin-bottom: 0px !important;
  margin-top: 10px !important;
}
h1 {
  font-size: 20px !important;
  margin-bottom: 20px !important;
}
p {
  margin-bottom: 5px !important;
  margin-top: 0px !important;
}
code {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
  padding: 0px !important;
  background-color: rgb(216, 216, 216, 0.5) !important;
}
#problem-c--stolen-necklace::after {
  display: none !important;
}
#problem-c--stolen-necklace::before {
  display: none !important;
}
#problem-c--stolen-necklace {
  width: 100% !important;
  text-align: center !important;
}
.const {
  text-align: center !important;
}
